<a href="https://colab.research.google.com/github/nomeshmudhiraj8-oss/data-science-journey/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name=input("Enter YOur Name:")
age=input("Enter Your Age:")
loc=input("Enter Your Location:")
print("Client Name is:",name)
print("Age of client is:",age)
print("loc of client is:",loc)

Enter YOur Name:Nomesh Mudhiraj
Enter Your Age:21
Enter Your Location:Kukatpally
Client Name is: Nomesh Mudhiraj
Age of client is: 21
loc of client is: Kukatpally

In [2]:
print("Welcome to python ")
print("Transforming from ordinary to extraordinary")
print("day 1 of python basics")

Welcome to python
Transforming from ordinary to extraordinary
day 1 of python basics

In [3]:
"""
variables
"""
name="Nomesh Mudhiraj"
age=21
ph=9628699
id="nomesh@gmail.com"
print("Details Of The Client:")
print("Welcome:",name)
print("Client Age is:",age)
print("contact details:",ph)
print("Gmail id:",id)

Details Of The Client:
Welcome: Nomesh Mudhiraj
Client Age is: 21
contact details: 9628699
Gmail id: nomesh@gmail.com

In [4]:
"""
Data Types
"""
name="Nomesh"
age=21
marks=78.5
goodstudent=True
print(type(name),name)
print(type(age),age)
print(type(marks),marks)
print(type(goodstudent),goodstudent)

<class 'str'> Nomesh
<class 'int'> 21
<class 'float'> 78.5
<class 'bool'> True

In [5]:
"""
Taking Input From user
"""
name=input("Enter The Name Of The Client:")
age=int(input("Enter The Age:"))
monthly_plan=int(input("Enter The Price:"))
print("---Client Plan Details---")
print("Client Name is:",name)
print("client Age is:",age)
print("Plan Type:",monthly_plan)

Enter The Name Of The Client:Nomesh
Enter The Age:21
Enter The Price:1500
---Client Plan Details---
Client Name is: Nomesh
client Age is: 21
Plan Type: 1500

In [6]:
''' Basic arithmetic operations'''
a=int(input("Enter a Number:"))
b=int(input("Enter a Number:"))
print("---Arithmetic Operations---")
print("Addition Of Two Numbers :",a+b)
print("Subtraction Of Two Numbers :",a-b)
print("Multiplication Of Two Numbers :",a*b)
print("Div Of Two Numbers :",a/b)
print("Modulo Of Two Numbers :",a%b)

Enter a Number:10
Enter a Number:10
---Arithmetic Operations---
Addition Of Two Numbers : 20
Subtraction Of Two Numbers : 0
Multiplication Of Two Numbers : 100
Div Of Two Numbers : 1.0
Modulo Of Two Numbers : 0

In [9]:
'''if else conditions'''
name="nomesh"
age=int(input("Enter The Age:"))
if(age>18):
  print(name,":Is Eligible")
else:
  print(name,":Not Eligible")

Enter The Age:19
nomesh :Is Eligible