<a href="https://colab.research.google.com/github/nomeshmudhiraj8-oss/data-science-journey/blob/main/day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
''' Strings'''
name=input("Enter The Name:")
lastname = "mudhiraj"
print("After concatenation",name+lastname)

Enter The Name:nomesh
After concatenation nomeshmudhiraj

In [11]:
''' String Functions'''
''' endswith'''

name = "Nomesh"
print(len(name))
print(name.endswith("esh"))

6
True

In [13]:
name = "Nomesh"
print(name.replace("nomesh","nani"))
print(name.count("n"))

Nomesh
0

In [17]:
name="nomesh"
print(name.replace("nomesh","nani",2))

nani

In [18]:
a = int(input("Enter A Number:"))
if(a%2==0):
  print(a,":is Divisible By 2")
else:
  print(a,": is not divisible by 2")

Enter A Number:60
60 :is Divisible By 2

In [19]:
a = int(input("Enter A Number:"))
if(a%7==0):
  print(a,":is Divisible By 7")
else:
  print(a,": is not divisible by 7")

Enter A Number:49
49 :is Divisible By 7

In [20]:
a = int(input("Enter a Number:"))
if(a>=90):
  print(a,"is a greatest Number!!!")
elif(a>=70):
  print("Second Highest Number:")
elif(a<=50):
  print("Least highest Number")

Enter a Number:91
91 is a greatest Number!!!

In [24]:
''' ---lists in python--- '''
names = ["Nomesh","Charan","Vishnu"]
marks =[87.5,70.5,74.5]
print(names[0])
print(len(marks))

Nomesh
3

In [ ]:
''' list Functions :append,sort,reverse,inser'''
names = ""