<a href="https://colab.research.google.com/github/nomeshmudhiraj8-oss/data-science-journey/blob/main/day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
names = ["nomesh","nani","charan","vishnu","Sagar"]
print(names)

['nomesh', 'nani', 'charan', 'vishnu', 'Sagar']

In [2]:
name = input("Enter Client Name:")
age = int(input("Enter The Client Age"))
college_name =input("Enter The College Name:")
monthly_salary =int(input("Enter The Salary"))
annual_salary = monthly_salary * 12
print("---CLient Details---")
print("Name os the client is:",name)
print("age of the client is:",age)
print("College Details:",college_name)
print("Client Monthly Salary :",monthly_salary)
print("Client Annual Salary:",annual_salary)

Enter Client Name:Dhana
Enter The Client Age25
Enter The College Name:CBIT
Enter The Salary30000
---CLient Details---
Name os the client is: Dhana
age of the client is: 25
College Details: CBIT
Client Monthly Salary : 30000
Client Annual Salary: 360000

In [3]:
name = input("Enter Employee Name:")
monthly_expenses = int(input("Enter Monthly Expenses Cost:"))
annual_expenses = monthly_expenses * 12
print("---Employee Yearly Expenses---")
print("Employee Monthly Expenses:",monthly_expenses)
print("Employee Annual Expenses:",annual_expenses)

Enter Employee Name:dhana
Enter Monthly Expenses Cost:10000
---Employee Yearly Expenses---
Employee Monthly Expenses: 10000
Employee Annual Expenses: 120000

In [4]:
age = 22
salary = 30000

print(age > 18 and salary > 20000)
print(age > 25 or salary > 20000)
print(not(age > 18))

True
True
False

In [6]:
#for loops
for i in range(1,6):
  print(i)

1
2
3
4
5

In [9]:
for i in range(1,31):
  if(i%2==0):
    print(i,": is Even Number")
  else:
    print(i,": is Not a Even number")

1 : is Not a Even number
2 : is Even Number
3 : is Not a Even number
4 : is Even Number
5 : is Not a Even number
6 : is Even Number
7 : is Not a Even number
8 : is Even Number
9 : is Not a Even number
10 : is Even Number
11 : is Not a Even number
12 : is Even Number
13 : is Not a Even number
14 : is Even Number
15 : is Not a Even number
16 : is Even Number
17 : is Not a Even number
18 : is Even Number
19 : is Not a Even number
20 : is Even Number
21 : is Not a Even number
22 : is Even Number
23 : is Not a Even number
24 : is Even Number
25 : is Not a Even number
26 : is Even Number
27 : is Not a Even number
28 : is Even Number
29 : is Not a Even number
30 : is Even Number

In [11]:
n = int(input("Enter a number:"))
for i in range(1,11):
  c = n*i
  print(n,"x",i,"=",c)

Enter a number:8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [12]:
n = int(input("Enter a Number:"))
sum = 0
for i in range(1,n+1):
  sum = sum + i
  print(sum)

Enter a Number:10
1
3
6
10
15
21
28
36
45
55

In [13]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [16]:
#even numbers from 1 to 50
n = int(input("Enter a Number:"))
for i in range(1,51):
  if(i%n==0):
    print(i,"Even numbers")

Enter a Number:2
2 Even numbers
4 Even numbers
6 Even numbers
8 Even numbers
10 Even numbers
12 Even numbers
14 Even numbers
16 Even numbers
18 Even numbers
20 Even numbers
22 Even numbers
24 Even numbers
26 Even numbers
28 Even numbers
30 Even numbers
32 Even numbers
34 Even numbers
36 Even numbers
38 Even numbers
40 Even numbers
42 Even numbers
44 Even numbers
46 Even numbers
48 Even numbers
50 Even numbers

In [17]:
n =int(input("Enter a Number:"))
for i in range(1,11):
  c = i*n
  print(n,"*",i,"=",c)

Enter a Number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [28]:
n ="nomesh"
print(n[::-1])

hsemon

In [29]:
n = input("Enter a String")
if(n==n[::-1]):
  print("palindrome")
else:
  print("Not a Palindrome")

Enter a Stringmom
palindrome

In [ ]:
#to create data frames using pandas
import pandas as pd
names={'Names':[6612,6650,6618]','Age':[21,22,23]','Plan_details':[1,6,6]"}
df=pd.Dataframe(data=names)
print(df)

SyntaxError: unterminated string literal (detected at line 3) (ipython-input-2602565096.py, line 3)

In [ ]:
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(data=d)

print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11